<!-- header -->
<header>
    <div id="header" class="header"> 
         <div class="container">
             <div class="row">
                  <div class="col-md-12">
                    <div class="header__logo">
                      <img src="assets/images/logo.png" alt="Star Wars" title="Star Wars" />
                    </div>
                  </div>
             </div> 
         </div>
    </div>
</header>
<!-- header -->
