.header{
    border-bottom: 2px solid #000;
     background-color: rgba(0,0,0, 0.4);
    padding:20px 0;
    text-align: center;
    .header__logo{
        img{
            max-width: 150px;
            margin:0 auto;
        }
    }
  }
  @media (max-width: 992px) {

    .header{
        .header__logo{
            img{
                width: 90px;
            }
        }
      }

  }
 