<section>
    <div id="filmSection">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="film">
                        <a [routerLink]="'/'" class="back">x</a>
                        <h2 class="film__title">{{detailsFilm.title}}</h2>
                        <div class="film__opening">{{detailsFilm.opening_crawl}}</div>
                        <div class="film__team">Producer: <span>{{detailsFilm.producer}}</span></div>
                        <div class="film__team">Director: <span>{{detailsFilm.director}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
