.film{
    margin-top: 50px;
    border:2px solid #000;
    border-radius: 10px;
    padding:30px;
    background-color: rgba(0,0,0, 0.4);
    position: relative;
    color:#fff;
    &::before{
        content: "Film";
        font-family: 'Poller One', cursive;
        position: absolute;
        background-color:#fdc401;
        border-radius: 5px;
        color: #000;
        font-weight: bold;
        font-size: 20px;
        padding:3px 10px;
        top:-28px;
        left: 20px;
    }
    .back{
        font-family: "Poller One", cursive;
        position: absolute;
        background-color: #fff;
        border-radius: 5px;
        color: #000;
        font-weight: bold;
        font-size: 20px;
        padding: 1px 10px;
        top: -18px;
        right: -13px;
        font-size: 23px;
        transition: all .35s;
        &:hover{
            background-color:  #a80000;
            transform: rotateZ(360deg);
            color: #fff;
            transition: all .35s;
        }
    }
    .film__title{
        font-family: 'Poller One', cursive;
        color:#fff;
    }
    .film__opening{
        font-size: 16px;
        line-height: 150%;
        padding:20px 0;
    } 
    .film__team{
        span{
            color:#fdc401;
        }
    }
   
    
}

@media (max-width: 992px) {
    .film{
        &::before{
            font-size: 15px;
        }
        .back{
            top: -20px;
            right: -5px;
            font-size: 20px;
        }
        .film__title{
            font-size: 22px;
        }
    }
}