.filter{
    border:2px solid #000;
    border-radius: 10px;
    padding:10px;
    display: flex;
    margin: 50px 0 30px 0;
    background-color: rgba(0,0,0, 0.4);
    align-items: flex-end;
    position: relative;

    &::before{
        content: "People filters";
        font-family: 'Poller One', cursive;
        position: absolute;
        background-color:#fdc401;
        border-radius: 5px;
        color: #000;
        font-weight: bold;
        font-size: 20px;
        padding:3px 10px;
        top:-28px;
        left: 20px;
    }
    .filter__camp{
        flex:1;
        margin:10px;

        label{
            color: #fff;
            font-size: 16px;
        }
        .form-control{
            border:1px solid #fdc401;
            background-color: rgba(0,0,0, 0.6);
            height: 40px;
            color:#fff;
            &:focus{
                border:1px solid #fff;
            }
        }
        &.filter__camp--space-betewen{
            display: flex;
            justify-content: space-between;
            .filter__camp__btn{
                background-color:  #fdc401;
                color: #000;
                border-radius: 5px;
                padding:10px 0;
                height: 40px;
                width: 100%;
                font-weight: bold;
                font-size: 16px;
                transition: all .35s;
                font-family: 'Poller One', cursive;
                margin:0px 5px;
                &.filter__camp__btn--clear{
                    background-color: #fff;
                    color:  #000;
                }
    
                &:hover{
                    background-color:  #a80000;
                    color: #fff;
                     transition: all .35s;
                }
            }
        }
        
    }

}


.table{
    background-image: url(../../../../assets/images/boneco.png);
    background-repeat: no-repeat;
    background-position: right bottom;

    .table__theader{
         background-color: rgba(237,186,9, 0.7);
         border-radius: 5px 5px 0 0;
        .table__theader{
                &__tr{
                    display: flex;
                    color: #000;
                    font-size: 16px;
                    font-weight: bold;
                }
                &__th{
                    padding: 10px 15px;
                    flex: 1;
                    &:first-child{
                        flex: 2;
                    }
                    &:last-child{
                        flex: 1.5;
                    }
                    
                }
        }
    }
    .table__tbody{
        .table__tbody{
            &__tr{
                display: flex;
                background-color: rgba(3,3,3, 0.3);
                color:#bbb;
                font-size: 16px;
                transition: all .35s;

                &:nth-child(odd){
                    background-color: rgba(3,3,3, 0.6);
                }
                &:last-child{
                    border-radius: 0 0 5px 5px;
                }
                &:hover{
                    box-shadow: inset 0 0 0 2px  rgba(237,186,9, 0.7);
                    transition: all .35s;
                }
            }
            &__td{
                padding: 10px 15px;
                flex: 1;
                strong{
                    color:#fff;
                }
                &:first-child{
                    flex: 2;
                }
                &:last-child{
                    flex: 1.5;
                }
                a{
                    color: #fff;
                    font-weight: bold;
                    background-color: rgba(237,186,9, 0.7);
                    border-radius: 4px;
                    margin-right: 8px;
                    display: inline-block;
                    width: 16px;
                    padding:1px 0; 
                    line-height: 19px;
                    text-align: center;
                    transition: all .35s; 
                    position: relative;

                    .table__tbody__filmName{
                        display: none;
                        position: fixed;
                        background-color: #a80000;
                        font-family: "Poller One", cursive;
                        border-radius: 5px;
                        padding:20px;
                        font-size: 30px;
                        color:#fff;
                        top:15px;
                        right: -500px;
                        transition: all .35;

                        img{
                            position: absolute;
                            width: 127px;
                            right: 0;
                            top: 70px;
                        }
                    }
                    
                    &:hover{
                       background-color:  #a80000;
                       color: #fff;

                       .table__tbody__filmName{
                        display: block;
                        right: 15px;
                        

                        
                        }
                    }
                }
                
            }
           
        }

    }

}
#pagination_page{
    color: #fff;
    text-align: center;
    ::ng-deep .ngx-pagination {
        .current{
            border-radius:5px;
            background-color: rgba(237, 186, 9, 0.7);
        }
        a, button{
            color:#fff;
            margin-left: 5px;
            &:hover{
                background-color: #000;
                border-radius: 5px;
            }
        }
    }
}

@media (max-width: 992px) {
    .filter{
        flex-direction: column;
        &::before{
            font-size: 15px;
        }
        .filter__camp{
            margin:0 0 10px 0;
            min-width: 100%;
        }

    }
    .table{
        .table__theader{
            display: none;
        }
        .table__tbody{
            .table__tbody{
                &__tr{
                    flex-direction: column;
                    padding:10px;
                    border-radius: 5px;
                    margin-bottom: 15px;
                }
                &__td{
                    padding: 4px 15px;
                    &::before{
                        content: attr(data-titulo);
                        display: block;
                        font-size: 12px;
                        color: rgba(237,186,9, 0.7);
                    }
                    a{
                        .table__tbody__filmName{
                            font-size: 18px;
                            padding:10px;
                            top: inherit;
                            bottom:15px;
                        }
                    }
                   
                }
               
            }
    
        }
    
    }
}


   
 