<section [formGroup]="formFilter">
  <div id="filterSection">
        <div class="container">
            <div class="row">
                 <div class="col-md-12">
                   <div id="filter" class="filter">
                         <div class="filter__camp">
                            <label>Name</label>
                            <input formControlName="name" type="text" class="form-control" name="" />
                         </div>
                         <div class="filter__camp">
                            <label>gender</label>
                            <select formControlName="gender" class="form-control">
                              <option value="">Select</option>
                              <option *ngFor="let item of listGender" value="{{item}}">{{item}}</option>
                            </select>
                         </div>
                         <div class="filter__camp filter__camp--space-betewen">
                            <input (click)="onClickSearch()" type="button" class="btn filter__camp__btn" value="Search" />
                            <input (click)="onClickClearSearch()" type="button" class="btn filter__camp__btn filter__camp__btn--clear " value="Clear" />
                         </div>
                   </div>
                 </div>
            </div> 
        </div>
  </div> 
</section>

<section>
  <div id="table">
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                 <div class="table">
                   <div class="table__theader">
                       <div class="table__theader__tr">
                         <div class="table__theader__th">Name</div>
                         <div class="table__theader__th">gender</div>
                         <div class="table__theader__th">birth_year</div>
                         <div class="table__theader__th">homeworld</div>
                         <div class="table__theader__th">films</div>
                       </div>
                   </div> 
                   <div class="table__tbody">
                        <div class="table__tbody__tr" 
                            *ngFor="let people of listPeopleAux | paginate: { id: 'pagination',  itemsPerPage: 10, currentPage: pageCurrent }">
                            <div class="table__tbody__td" data-titulo="Name"><strong>{{people.name}}</strong></div>
                            <div class="table__tbody__td" data-titulo="gender">{{people.gender}}</div>
                            <div class="table__tbody__td" data-titulo="birth_year">{{people.birth_year}}</div>
                            <div class="table__tbody__td" data-titulo="homeworld">{{people.homeworld}}</div>
                            <div class="table__tbody__td" data-titulo="films">
                               <a *ngFor="let item of people.films" [routerLink]="'/film/' + item">
                                <span (mouseenter)="onMouseEnterFilmName(item)">{{item}} </span>
                                <span *ngIf="filmTile" class="table__tbody__filmName">
                                  {{filmTile}}
                                  <img src="assets/images/chewbacca.png" alt="" title="" />
                                </span>
                               </a>
                            </div>
                        </div>
                   </div>
                   <div *ngIf="listPeopleAux && listPeopleAux.length <= 0" class="alert alert-warning text-center mt-2">no data found</div>
                 </div>
                 <div id="pagination_page">
                      <pagination-controls  
                        id="pagination"
                        (pageChange)="pageChanged($event)"
                        (pageBoundsCorrection)="pageChanged($event)"
                        [maxSize]="6"
                        responsive="true"
                        previousLabel="Previous"
                        nextLabel="Next">
                      </pagination-controls>
                 </div>
              </div>
            </div> 
        </div>
  </div> 
</section>