html,
body {
	overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
	padding: 0;
	margin: 0;
}

* {
	padding: 0px;
	margin: 0px;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #000;
}
a:hover{
	text-decoration: none;
}
a:focus {
	outline: none;
}

.clearFloat {
	clear: both;
}

html {
	background-color: #000;
	background: linear-gradient(270deg, #000000, #555555);
	background-size: 400% 400%;
	-webkit-animation: blackGradient 12s ease infinite;
	-moz-animation: blackGradient 12s ease infinite;
	animation: blackGradient 12s ease infinite;
}

body {
	color: #333;
	background-color: transparent;
	background-image: url(../src/assets/images/espaco.png);
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	background-repeat: repeat-y;
	background-position: center top;
}
@-webkit-keyframes blackGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes blackGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes blackGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
#pagination_page {
	color: #fff;
}
#pagination_page .ngx-pagination a, .ngx-pagination button{
	color:#fff;
	margin-left: 5px;
}
#pagination_page .ngx-pagination .current{
	background-color: rgba(237, 186, 9, 0.7);
}
#pagination_page .ngx-pagination a:hover, #pagination_page  .ngx-pagination button:hover{
   background-color: #000;
   border-radius: 5px;
}
